main#content {
  width: 100%;
  box-sizing: border-box;
  padding-left: $cfl-main-x-padding;
  padding-right: $cfl-main-x-padding;

  @include media-breakpoint-up(xl) {
    padding-left: 0;
    padding-right: 0;
  }
}

.cfl-section--wide {
  margin-left: -$cfl-main-x-padding;
  margin-right: -$cfl-main-x-padding;

  @include media-breakpoint-up(xl) {
    margin-left: 0;
    margin-right: 0;
  }
}

.cfl-grid {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  position: relative;
  grid-template-columns: [content-start] repeat(12, 1fr) [content-end];

  &__item {
    grid-column: content-start / content-end;

    @include media-breakpoint-up(xl) {
      grid-column: auto / auto;
    }
  }

  @include media-breakpoint-up(xl) {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    grid-column: content-start / content-end;

    &--responsive {
      grid-template-columns:
        [content-start] repeat(auto-fill, minmax(300px, 1fr))
        [content-end];
    }
  }
}

.cfl-grid--outer {
  @include media-breakpoint-up(xl) {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns:
      [viewport-start] 1fr [content-start] minmax(0, 1240px)
      [content-end] 1fr [viewport-end];
  }

  & & {
    grid-column-gap: 0;
  }
}

.cfl-grid--editorial {
  @include media-breakpoint-up(xl) {
    grid-template-columns: [content-start] 7fr 5fr [content-end];
  }
}

.cfl-content {
  &--wide {
    grid-column: content-start / content-end;
  }

  @include media-breakpoint-up(xl) {
    &--wide_3_9 {
      grid-column: 3 / 9;
    }

    &--wide_2_10 {
      grid-column: 2 / 10;
    }
  }
}

.cfl-viewport--wide {
  grid-column: 1 / -1;
}
