.cfl-nav {
  width: 100%;
  padding: 0 1rem;
  min-height: 60px;
  color: $nav-color;
  align-items: center;
  background-color: $nav-bg-color;
  justify-content: space-between;

  &__hamburger-icon {
    padding: 0;
    width: 25px;
    height: 25px;
    background: 0 0;
    cursor: pointer;
    position: relative;
    margin-right: 1rem;
    vertical-align: middle;
    box-sizing: content-box;
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;

    span {
      opacity: 1;
      height: 2px;
      width: 100%;
      display: block;
      position: absolute;
      border-radius: 9px;
      background: $white;
    }

    @for $i from 1 through 3 {
      span:nth-child(#{$i}) {
        top: calc((#{$i} * 6) * 1px);
      }
    }

    @include media-breakpoint-up(md) {
      margin-left: 0;
    }
  }

  &__list {
    width: 100%;
    justify-content: space-between;

    &-item {
      padding: rem(12);
      text-transform: uppercase;
    }

    @include media-breakpoint-up(md) {
    }
  }

  &__logo {
    margin-left: 1rem;

    @include media-breakpoint-up(md) {
      margin-right: 0;
    }
  }
}
