.slide-btn {
  color: $white;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-size: $space-1;
  padding-right: $space-2;
  padding: $space-1 $space-3;
  letter-spacing: $space-base;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

  &:before,
  &:after {
    content: '';
    z-index: -1;
    position: absolute;
    transition: inherit;
  }

  &:hover {
    color: $dark-grey;
    transition-delay: 0.5s;
  }

  &:hover:before {
    transition-delay: 0s;
  }

  &:hover:after {
    background: $white;
    transition-delay: 0.35s;
  }
}

.from-top:before,
.from-top:after {
  left: 0;
  height: 0;
}

.from-top:before {
  bottom: 0;
  border: 1px solid $white;
  border-top: 0;
  border-bottom: 0;
}

.from-top:after {
  top: 0;
  height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
  height: 100%;
}

.from-left:before,
.from-left:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left:before {
  right: 0;
  border: 1px solid $white;
  border-left: 0;
  border-right: 0;
}

.from-left:after {
  left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
  width: 100%;
}

.from-right:before,
.from-right:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-right:before {
  left: 0;
  border: 1px solid $white;
  border-left: 0;
  border-right: 0;
}

.from-right:after {
  right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
  width: 100%;
}

.from-center:before {
  top: 0;
  width: 0;
  left: 50%;
  height: 100%;
  border: 1px solid $white;
  border-left: 0;
  border-right: 0;
}

.from-center:after {
  left: 0;
  height: 0;
  bottom: 0;
  width: 100%;
  background: $white;
}

.from-center:hover:before {
  left: 0;
  width: 100%;
}

.from-center:hover:after {
  top: 0;
  height: 100%;
}

.from-bottom:before,
.from-bottom:after {
  left: 0;
  height: 0;
  width: 100%;
}

.from-bottom:before {
  top: 0;
  border: 1px solid $white;
  border-top: 0;
  border-bottom: 0;
}

.from-bottom:after {
  bottom: 0;
  height: 0;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
  height: 100%;
}
