// Main container
.cfl-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns:
    [viewport-start] 1fr
    [content-start] minmax(0, $cfl-content-max-width)
    [content-end] 1fr [viewport-end];
}

.cfl-grid {
  display: grid;
  grid-column: content-start / content-end;
  grid-template: 1fr / repeat(
      12,
      [col] minmax(0, calc($cfl-content-max-width / 12))
    );
  @include grid-gaps;
}

.cfl-section {
  grid-column: content-start / content-end;
}

.list-editorial {
  @include media-breakpoint-up(md) {
    .cfl-col__2,
    .cfl-col__3,
    .cfl-col__4,
    .cfl-col__5 {
      grid-column: span 6;
    }
  }
}

[class*='cfl-col__'] {
  grid-column: span 12;
}

// Generic Col with default behavior in Breakpoint, use custom CSS to change behavior if needed
@include media-breakpoint-up(md) {
  .cfl-col__2,
  .cfl-col__3,
  .cfl-col__4,
  .cfl-col__5 {
    &.centered {
      grid-column: 4 / -4;
    }
  }

  .cfl-col__6,
  .cfl-col__7 {
    &.centered {
      grid-column: 3 / -3;
    }
  }

  .cfl-col__8,
  .cfl-col__9,
  .cfl-col__10 {
    &.centered {
      grid-column: 2 / -2;
    }
  }
}

@include media-breakpoint-up(lg) {
  @for $col_index from 2 through 12 {
    .cfl-col__#{$col_index},
    .list-editorial .cfl-col__#{$col_index} {
      grid-column: span $col_index;
      &.centered {
        $centered-span: floor(calc((12 - $col_index) / 2 + 1));
        grid-column: #{$centered-span} / -#{$centered-span};
      }
    }
  }
}

.cfl-grid__2-10 {
  grid-column: span 12;

  @include media-breakpoint-up(lg) {
    grid-column: 2 / 10;
  }
}

.cfl-grid__3-9 {
  grid-column: span 12;

  @include media-breakpoint-up(lg) {
    grid-column: 3 / 9;
  }
}

.cfl-grid__3-11 {
  grid-column: span 12;

  @include media-breakpoint-up(lg) {
    grid-column: 3 / 11;
  }
}

.cfl-grid__3-13 {
  grid-column: span 12;

  @include media-breakpoint-up(lg) {
    grid-column: 3 / 13;
  }
}

.no-gap {
  grid-gap: 0;
}
